* {
    box-sizing: border-box;
}
.navbar-light {
  background-color: #999999;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar {
  border-top: solid black 3px;
  padding: 0% !important;
}
.nav-link {
  padding: 0;
  background-color: white;
  border-bottom: solid black 3px;
}

a {
  text-decoration: none !important;
}

#navbarSupportedContent {
  border-top: solid black 3px;
}

#nav-toggler {
  margin-top: 5;
  margin-bottom: 5;
}

.items {
  text-align: center;
  color: black !important;
}

.menu-title{
  color: black; 
  padding-left: 15px;
}

.title {
  text-align: center;
  margin: 10;
}
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
      #nav-toggler {
        display: none;
      }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    #nav-toggler {
      display: none;
    }
  }
  /********** Small devices only **********/
  @media (max-width: 767px) {

  }